name = "freedom-api"
main = "src/index.ts"
compatibility_date = "2024-05-01"
compatibility_flags = ["nodejs_compat"]

[vars]
ENVIRONMENT = "production"
TOKEN_SERVICE_URL = "https://freedom-production-21ce.up.railway.app"

[dev]
port = 8787
